{% extends "base.html" %}
{% block content %}
<!--    search form     -->
<div class="layui-container" id="cont">
    <br>
     <div class="layui-row" >
         <br>
         <form class="layui-form layui-col-md12 x-so " method="post" name="search">
             {{form.csrf_token()}}
             <div class="layui-form-item">
                 <label class="layui-form-label">Module:</label>
                 <div class="layui-input-block" id="block2">
                     {{ form.module(class_="form-control layui-input", id = "second") }}
                 </div>
             </div>
             <div class="layui-form-item">
                 <label class="layui-form-label">Title:</label>
                 <div class="layui-input-block" id="block">
                     {{ form.title(class_="form-control layui-input ", id="first") }}
                 </div>
             </div>
             <div class="outer-query cont" >
                 <div class="query1">
                     <p>Deadline：
                        <span class="c_right">{{ form.deadline(class_="form-control") }}<br></span>
                     </p>
                 </div>
                 <div class="query2">
                     <p>Release_time：
                         <span class="c_right">{{ form.release_day(class_="form-control" ) }}<br></span>
                     </p>
                </div>
                 <button class="layui-btn blue-btn" lay-filter="sreach" id="click-btn">
                    <i class="layui-icon blue-btn">&#xe615;</i>
                 </button>
            </div>
        </form>
     </div>
</div>

<!--    main body   -->
{% if num == 0%}
<hr class="layui-border-red">
<div class="layui-container">
    <div class="row justify-content-around">
        <h1 class="justify-content-around">No results</h1>
    </div>
</div>
{% endif %}
{%if num != 0%}
    <div class="row over" data-masonry='{"percentPosition": true }'>
        {% for assessment in assessments %}
        <div class="col-sm-12 col-lg-12 col-md-12 over">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ assessment[0].module }}</h5>
                    <p class="card-text">Coursework Title: {{ assessment[0].title }}</p>
                    <p class="card-text">Module Code: {{ assessment[0].code }}</p>
                    <p class="card-text text-font">Description: {{ assessment[0].description }}</p>
                    <div class="card-text time-lable">
                        {% for k in assessment[2] %}
                        {% if k == 1 %}
                        {% if assessment[1] >= 7 %}
                        <div class="time1 col-1 ">&nbsp;</div>
                        {% elif assessment[1] >= 3 %}
                        <div class="time2 col-1 ">&nbsp;</div>
                        {% else %}
                        <div class="time3 col-1 ">&nbsp;</div>
                        {% endif %}
                        {% else %}
                        <div class="notime col-1 ">&nbsp;</div>
                        {% endif %}
                        {% endfor %}
                        <div class="col-2 left">&nbsp;&nbsp;{{assessment[3]}} days</div>
                        <div class="row">
                            <div class="col-4 left">Release time: {{ assessment[0].release_day }}</div>
                            <div class="col-2">&nbsp;</div>
                            <div class="col-4 right">Deadline: {{ assessment[0].deadline }}</div>
                        </div>
                    </div>
                    <p class="card-text">
                        Status:
                        {% if assessment[0].status == 0 %}
                        <strong class="btn-danger">Uncompleted</strong>
                        {% else %}
                        Completed
                        {% endif %}
                    </p>
                    <div class="row justify-content-center">
                        {% if assessment[0].status ==0 %}
                        <a href="{{url_for('mark', id=assessment[0].id, page = PageTitle)}}" id="but" class="layui-btn layui-btn-radius layui-bg-cyan card-link col-lg-2 col-md-3 col-sm-3">
                            Submit
                        </a>
                        {% else %}
                        <a href="{{url_for('mark', id=assessment[0].id, page = PageTitle)}}" id="butt" class="layui-btn layui-btn-radius layui-bg-cyan card-link col-lg-2 col-md-3 col-sm-3">
                            Cancel submission
                        </a>
                        {% endif %}
                        <a href="{{ url_for('edit', id=assessment[0].id, page = PageTitle) }}" class="layui-btn layui-btn-radius layui-btn-normal card-link col-lg-2 col-md-3 col-sm-3">
                            Edit
                        </a>
                        <a href="{{ url_for('delete', id=assessment[0].id, page = PageTitle) }}" class="layui-btn layui-btn-radius layui-btn-danger card-link col-lg-2 col-md-3 col-sm-3">
                            Delete
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{%endif%}

<script type="text/javascript" src="../static/js/index.js"></script>

{% endblock %}